.cake-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f7f3e9;
}

.cake-stage {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.cake-image {
    padding: 20px;
}
